---
// import logo component
// import Logo from './Logo.astro';
---

<section>
    <!-- <Logo /> -->
    <h3>hours</h3>
    <p>monday - friday: 8am - 4pm</p>
    <p>saturday - sunday: 10am - 4pm</p>

    <h3>find us</h3>
    <p>1101 Mass Ave. Boston, MA</p>
    <p>617-303-1101</p>
</section>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Lato&family=Shrikhand&display=swap');

    section {
        padding-top: 50px;
    }

    h3 {
        text-transform: lowercase;
    }

    p {
        font-family: 'Courier Prime', monospace;
        text-transform: lowercase;
    }
</style>