---

---

<footer>
    <p>Designed by <a href="https://holistictech.io" target="_blank">The Holistic Technologist</a></p>
    <p>Illustrations by <a href="https://www.cuocdoiprints.com" target="_blank">Cuoc Doi Prints</a></p>
</footer>
<style>
    footer {
        margin-top: 25px;
        background-color: #FFDE59;
        padding: 1%;
    }

    p {
        font-family: 'Courier Prime', monospace;
        text-transform: lowercase;
    }

    a {
        text-decoration: none;
        color: #653A1E;
    }

    a:hover,
    a:visited {
        color: #653A1E;
    }
    
</style>