---
import MenuButton from "./MenuButton.astro";
---

<section>
    <MenuButton url="/blackgyalbites-astro/menu-pdf-food.pdf" menuType="Food" />
    <MenuButton url="/blackgyalbites-astro/menu-pdf-drinks.pdf" menuType="Drinks" />
    <MenuButton url="/blackgyalbites-astro/menu-pdf-catering.pdf" menuType="Catering" />
</section>

<style>
    section {
        padding-top: 50px;
    }
</style>